@charset "UTF-8";

:root {
    --cor1: #5f2c82;
    --cor2: #49a09d;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    html, body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section {
        width: 80vw;
        height: 300px;
    }

    section div.imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    div.formulario {
        float: right;
        width: 70%;
    }
    
}

@media screen and (min-width: 992px) {
    html, body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section {
        width: 800px;
        height: 350px;
    }

    section div.imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    div.formulario {
        float: left;
        width: 50%;
    }

    div.formulario > h1 {
        font-size: 2em;
    }

    div.formulario > p {
        font-size: 1em;
        margin: 20px 0px;
    }
}