@charset "UTF-8";

/*
    Palrta de cores
    Verde: #49a09d
    Lilas: #5f2c82
*/

:root {
    --cor1: #5f2c82;
    --cor2: #49a09d;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html, body {
    background-color: var(--cor1);
    position: relative;
    height: 100vh;
    width: 100vw;
}

section {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: translate(-50%, -50%);

    width: 250px; /*me: 80vw*/
    height: 515px; /*me: auto */
    border-radius: 20px; /*me: 10, porem 20 mlhor*/
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

    transition: width .3s, heigth .3s ;
    transition-timing-function: ease;
}

section div.imagem {
    display: block;
    background-image: url(../imagens/pexels-luis-ruiz-1774931.jpg);
    background-size: cover;
    background-color: #5f2c82;
    background-position: left bottom;
    height: 200px;
}

/*
div > img {
    width: 100%;
    height: 250px;
    border-radius: 10px 10px 0px 0px; // hidden é melhor
}
*/

div.formulario {
    display: block;
    padding: 5px 10px;
    text-align: justify;
}

div.formulario > h1 {
    text-align: center;
    padding-bottom: 5px;
}

div.formulario p {
    padding-bottom: 5px;
    font-size: 0.9em;
}

form > div.campo {
    background-color: var(--cor1);
    display: block;
    width: 100%;
    height: 40px;
    margin: 5px 0px;
    border-radius: 10px;
    border: 2px solid black;
}

div.campo > label {
    display: none;
}

div.campo > span {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

form > div.campo > input {
    background-color: #bafffc;
    width: calc(100% - 45px);
    height: 100%;
    font-size: 1em;
    padding: 5px;
    border-radius: 10px;
    border: 0;
    transform: translateY(-14px);
}

form > div.campo > input:focus-within {
    background-color: white;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    text-align: center;
    background-color: var(--cor2);
    color: white;
    cursor: pointer;
    height: 40px;
    width: 100%;
    border-radius: 10px;
    border: 0;
}

form > input[type=submit]:hover {
    background-color: #367976;
}

form > a.botao {
    display: block;
    font-size: 1em;
    text-align: center;
    background-color: white;
    color: #367976;
    width: 100%;
    height: 40px;
    border: 1px solid var(--cor2);
    border-radius: 10px;
    margin-top: 5px;
    padding-top: 10px;
}

form > a.botao:hover {
    background-color: #75fffa;
}

form > a.botao > span {
    font-size: 0.8em;
}