@charset "UTF-8";

/*
    Palrta de cores
    Verde: #49a09d
    Lilas: #5f2c82
*/

:root {
    --cor1: #5f2c82;
    --cor2: #49a09d;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html, body {
    background-color: var(--cor1);
    position: relative;
    height: 100vh;
    width: 100vw;
}

section {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    width: 250px; /*me: 80vw*/
    height: 500px; /*me: auto */
    border-radius: 20px; /*me: 10, porem 20 mlhor*/
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

    transition: .5;
    transition-timing-function: ease;
}

section div.imagem {
    display: block;
    background-image: url(../imagens/pexels-luis-ruiz-1774931.jpg);
    background-size: cover;
    background-color: #5f2c82;
    background-position: left bottom;
    height: 200px;
}

/*
div > img {
    width: 100%;
    height: 250px;
    border-radius: 10px 10px 0px 0px; // hidden é melhor
}
*/

div.formulario {
    display: block;
    padding: 10px;
    text-align: justify;
}

div.formulario > h1 {
    text-align: center;
    padding-bottom: 10px;
}

div.formulario p {
    padding-bottom: 10px;
}

form > div {
    background-color: var(--cor1);
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}

form > div > input {
    width: 75%;
    height: 40px;
    font-size: 1em;
    padding: 1px;
    border-radius: 10px;
    border: 1px solid black;
}

form > div.enviar, div.enviar > input {
    text-align: center;
    background-color: var(--cor2);
    border: 0;
    color: white;
}