@charset "UTF-8";

/*
    Palrta de cores
    Verde: #49a09d
    Lilas: #5f2c82
*/

:root {
    --cor1: #5f2c82;
    --cor2: #49a09d;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--cor1);
}

main {
    background-color: white;
    margin: 25vw auto;
    width: 80vw;
    height: auto;
    border-radius: 10px;
}

div > img {
    width: 100%;
    height: 250px;
    border-radius: 10px 10px 0px 0px;
}

div.formulario {
    padding: 10px;
    text-align: justify;
}

div.formulario > h1 {
    text-align: center;
    padding-bottom: 10px;
}

div.formulario p {
    padding-bottom: 10px;
}

form > div {
    background-color: var(--cor1);
    width: auto;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}

form > div > input {
    width: auto;
    height: 40px;
    font-size: 1em;
    padding: 1px;
    border-radius: 10px;
    border: 1px solid black;
}

form > div.enviar, div.enviar > input {
    text-align: center;
    background-color: var(--cor2);
    border: 0;
    color: white;
}